@using Blazor.Data
@rendermode InteractiveServer

<h2>@character.Name</h2>
<p>@character.HeightCm cm</p>
<p>@character.MassKg kg</p>
<p>Born in @character.BirthYear</p>
<button @onclick="changeState">Go back</button>

@code {
    [Parameter]
    public required Character character { get; set; }

    [Parameter]
    public required EventCallback<object> onStateChange { get; set; }

    private async Task changeState()
    {
        await onStateChange.InvokeAsync();
    }
}