@using Blazor.Data
@rendermode InteractiveServer

<h2>@character.Name</h2>
<button @onclick="changeState">Learn more</button>

@code {
    [Parameter]
    public required Character character { get; set; }

    [Parameter]
    public required EventCallback<Character> onStateChange {get; set;}

    public async Task changeState() {
        Console.WriteLine(character.Name);
        await onStateChange.InvokeAsync(character);
    }
}