@using Blazor.Data
@rendermode InteractiveServer

<h2>@character.Name</h2>
<button @onclick="() => handleSetFocusedCharacter()">Learn more</button>

@code {
    [Parameter]
    public required Character character { get; set; }

    [Parameter]
    public required EventCallback<Character> setFocusedCharacter {get; set;}

    public async Task handleSetFocusedCharacter() {
        await setFocusedCharacter.InvokeAsync();
    }
}